.navbar {
     border-radius: 0px;
}
h2{
  font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: white;
}
.settingBtn {
  margin-top: 15px;
    margin-right: 11px;
    min-width: 130px;
}
