.container {
  .row {
    place-content: center;
    background-color: black;
    margin-bottom: 26px;
    width: 1000px;
    max-width: 1000px;
    display: inline-block;
    .col-md-12 {
      place-content: center;
      display: flex;
      .image-div {
        width: 1000px;
        height: 500px;
        display: flex;
        place-content: center;
        overflow-y: scroll;
        overflow-x: scroll;
        overflow: auto;
        img {
          object-fit: contain;
          padding: 46px;
          align-self: center;
          max-width: -webkit-fill-available;
        }
      }
    }
    .image-controls {
      span {
        margin-right: 20px;
        color: white;
      }
      i:hover {
        cursor: pointer;
      }
    }
  }
}
