<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <h2>Angular - Bootstrap <small>App</small></h2>
    </div>

    <div *ngIf="viewSignUpButton; else viewSettingButton">
      <ul class="nav navbar-nav navbar-right settingBtn">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" (click)="openModal()">
            Sign Up
          </button>
        </div>
      </ul>
    </div>
    <ng-template #viewSettingButton>
      <ul class="nav navbar-nav navbar-right settingBtn">
        <div class="btn-group">
          <button
            type="button"
            class="btn btn-primary dropdown-toggle settingBtn"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ btnTitle }}
          </button>
          <ul class="dropdown-menu">
            <li>
              <button class="dropdown-item" (click)="signOut()">
                Sign Out
              </button>
            </li>
          </ul>
        </div>
      </ul>
    </ng-template>
  </div>
</nav>
