.passwordDiv{
  margin-top: 22px;
    margin-bottom: 22px;
}
#loginForm {
  border: 1px solid #DFDFDF;
  padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin: 50px auto;
    width: 400px;
}
