<div class="p-3 menu">
  <div class="nav flex-column nav-pills me-3" id="v-pills-tab">
    <a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>
    <a class="nav-link" routerLink="employee" routerLinkActive="active"
      >Employees</a
    >
    <a class="nav-link" routerLink="directives-demo" routerLinkActive="active"
      >Directive Demo</a
    >
    <a
      class="nav-link"
      routerLink="contact-us"
      type="button"
      routerLinkActive="active"
      >Contact us</a
    >
  </div>
</div>
