<div class="card">
  <div class="card-header"><h5>Employees</h5></div>
  <div class="card-body">
    <div class="pull-right">
      <span (click)="openAddEmployeeModal()" class="fa fa-plus"></span>
    </div>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a
          class="nav-link active"
          data-toggle="tab"
          routerLink="grid"
          routerLinkActive="active"
          >Grid</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          data-toggle="tab"
          routerLink="list"
          routerLinkActive="active"
          >List</a
        >
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="mainContent">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
