.row {
  margin-top: 26px;
}
.nav-head {
  border: 1px solid;
}

.profileImg {
  font-size: 72px;
}
i {
  padding: 6px;
}
.icons {
  font-size: 18px;
  font-weight: bolder;
}

.navbar {
  border: 1px solid #dee2e6;
  padding: 8px 13px;
  margin: 19px 3px;
}
h4,
h5 {
  line-height: 1.1;
}
a {
  color: black;
}
.card {
  margin-bottom: 20px;
}
.gridItems {
  .navbar-brand {
    font-size: 17px;
    span {
      color: rgb(133 133 134);
    }
  }
  .collapse {
    font-weight: 600;
  }
}
