<div
  id="carouselExampleIndicators"
  class="carousel slide h-100 carousel-calc"
  data-bs-ride="carousel"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner h-100">
    <div class="carousel-item active h-100 ">
      <img
        class="h-100 w-100"
        src="assets/homeImages/dogs.jpg"
        data-bs-interval="1000"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Man's Best Friend</h5>
        <p>
          A dog is the only thing on earth that loves you more than he loves
          himself.
        </p>
      </div>
    </div>
    <div class="carousel-item h-100">
      <img src="assets/homeImages/nature.jpg" class="h-100 w-100" alt="..." />
      <div class="carousel-caption d-none d-md-block">
        <h5>Nature is best.</h5>
        <p>If you truly nature, you will find beauty everywhere!</p>
      </div>
    </div>
    <div class="carousel-item h-100">
      <img src="assets/homeImages/toyBus.jpg" class="h-100 w-100" alt="..." />
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
